<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="csp" translate="label" sortOrder="30">
			<label>Agtech CSP</label>
		</tab>
		<section id="csp" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>CSP</label>
			<tab>csp</tab>
			<resource>Agtech_Poc::config_agtech_poc</resource>
			<group id="csp" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>CSP</label>
				<field id="enable" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable CSP</label>
					<comment>CSP is only for Checkout page.</comment>
				</field>
			</group>
		</section>
	</system>
</config>
